:root {
    --dark: #19191B;
    --gray: #696871;
    --purple: #a603f2ea;
    --white-gray:  #bdb9bdeb;
}

html {
    scroll-padding: 100px;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}
main {
    margin-top: 340px;
}

.header {
    position:  fixed;
    width: 100%;
    background: white;
    z-index: 999;
    top: 0;
    padding-block: 30px;
}

.header_container, .hero__container, .companies__container, .header__list, .header__nav, .features__container, .mini-features__container {
    max-width:  1069px;
    margin-inline: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    gap:20px;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 49px;
}

.header__list-link {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.47px;
    color: var(--gray);
    transition: color 0.5s;
}
.header__list-link.active {
    color: var(--dark);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 7px;
}

.header__button, .hero__btn {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 59px;
    background-color: var(--dark);
    border-radius: 10px;
    transition: 0.3s;
}

.hero__btn {
   background-color: var(--purple);
}

.header__list-link:hover {
    color: var(--dark);
}

.header__button:hover, .hero__btn:hover{
    opacity: 30%;
}

.hero {
    padding-block: 70px;
}

.hero__container {
    position: relative;
    gap: 20px;
}

.hero__image {
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: -125px;
    
}

.hero__title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -2.5px;
    line-height: 77px;

}

.hero__desс {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--gray);
    margin-top: 30px;
}

.hero__button {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.hero__scroll {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}

.companies {
    padding-block: 30px;
}
.companies__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    list-style: none;
}

.features {
    padding-block: 60px;
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: 69px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.feature__title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1.56px;
    line-height: 57px;
}

.feature__desc {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--gray);
    margin-top: 30px;
}

.feature__image {
    border-radius: 20px;
}

.feature__link:hover {
    text-decoration: underline;
}

.mini-features {
    padding-block: 32px
}

.mini-features__container {
    display: flex;
    justify-content: space-between;   
    gap: 40px;                       
    max-width: 1069px;
    margin-inline: auto;
    padding: 0 15pxж
}

.mini-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.mini-feature__header {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mini-feature__title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.75px;
    line-height: 36px;
}

.mini-feature__desc {
    font-family: "Mulish", sans-serif;
    letter-spacing: -0.5px;
    line-height:  24px;
    color: var(--gray);
}

.mini-feature__image {
    height: 97px;
}

.subscription {
    padding-block: 118px 158px;
}

.subscription__container {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.subscription__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscription__title {
    font-weight: 700;
    font-size:  60px;
    letter-spacing:  -1.88px;
    line-height:  70px;
}

.subscription__tabs {
    display: flex;
    border-block: 5px solid #F7F7FB;
    border-inline: 6px solid #F7F7FB;
    border-radius: 10px;
}

.subscription__tab {
    cursor: pointer;
    font-family: inherit;
    border: none;
    font-weight: 700;
    font-size:  16px;
    letter-spacing: -0.5px;
    background: #F7F7FB;
    padding: 17px 56px;   
    border-radius: 0 10px 10px 0; 
}

.subscription__tab.active {
    background: var(--purple);
    border-radius: 10px 0 0 10px;
    color: white;
}

.subscription__plans {
    display: grid;
    grid-template-columns: 330fr 400fr 330fr;
    gap: 17px;
}

.subscription__plan {
    padding:  70px 60px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
}
.subscription__plan-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.56px;
    line-height:  28px;
    color: var(--gray);
    transform: translateY(-40px)
}

.subscription__plan-price {
    font-weight:  700;
    font-size:  60px;
    letter-spacing:  -1.03px;
    line-height: 56px;
    color: var(--dark)
}

.subscription__plan-price > span {
    font-size: 28px;
}

.subscription__plan-features {
    font-family:  "Mulish", sans-serif;
    font-size:  17px;
    letter-spacing: -0.53px;
    line-height: 50px;
    color: var(--gray);
    margin-top: 28px;
}

.subscription__plan-button {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    padding-block: 19px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: var(--purple);
    margin-top: 36px;
}

.subscription__plan.active {
    background: var(--purple);
}

.subscription__plan.active .subscription__plan-title {
    color: rgba(255, 255, 255, 70%);
}

.subscription__plan.active .subscription__plan-button,
.subscription__plan.active .subscription__plan-price,
.subscription__plan.active .subscription__plan-features {color:white;}


.subscription__plan.active .subscription__plan-button {background:var(--purple);}

a {
    text-decoration: none;
}